{{> header }}

<body>
    
    <div class="container">

        <div class="row">
            {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="table-responsive">
            
                <table class="table table-bordered table-hover table-sm">
                    <caption>Resultados del clima</caption>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">Datos</th>
                            <th class="text-center">Valores</th>
                        </tr>
                    </thead>

                    <tr>
                        <th scope="col">Dirección</th>
                        <td class="text-center">{{direccion}}</td>
                    </tr>

                    <tr>
                        <th scope="col">Hora</th>
                        <td class="text-center">{{hora}} {{hora_abbr}}</td>
                    </tr>

                    <tr>
                        <th scope="col">Pronóstico</th>
                        <td class="text-center">{{pronostico}} <img src="{{icono}}" alt="icono pronostico"></td>
                    </tr>

                    <tr>
                        <th scope="col">Temperatura</th>
                        <td class="text-center">{{temp}} &#8451;</td>
                    </tr>

                    <tr>
                        <th scope="col">Temp Min</th>
                        <td class="text-center">{{temp_min}} &#8451;</td>
                    </tr>

                    <tr>
                        <th scope="col">Temp Max</th>
                        <td class="text-center">{{temp_max}} &#8451;</td>
                    </tr>

                    <tr>
                        <th scope="col">Presión</th>
                        <td class="text-center">{{presion}} hPa</td>
                    </tr>

                    <tr>
                        <th scope="col">Humedad</th>
                        <td class="text-center">{{humedad}} %</td>
                    </tr>

                    <tr>
                        <th scope="col">Viento</th>
                        <td class="text-center">{{viento}} mts/seg</td>
                    
                    </tr>

                    <tr>
                        <th scope="col">Dir Viento</th>
                        <td class="text-center">{{dviento}}&#176;</td>
                    </tr>

                    <tr>
                        <th scope="col">Nubosidad</th>
                        <td class="text-center">{{nubosidad}} %</td>
                    </tr>

                </table>
                
            </div>
        </div>

        <div class="row">
            <form action="/" method="POST">
                <button class="btn btn-primary">
                    Volver a Inicio
                </button>
            </form>
        </div>

    </div>
    
</body>

{{> footer }}